<div class="personDetail">
    <div class="container">
        <h1>Редактирование персонажа</h1>
        <div class="personDetail__content">
            <p>
                Имя персонажа:
                <input type="text" class="">
            </p>
            <p>
                Описание персонажа:
                <input type="text" class="">
            </p>
            <p>
                <button type="submit" class="btn btn-primary mb-2">Сохранить</button>
            </p>
        </div>
    </div>
</div>
