.personDetail{
    margin-top: 30px;
}

.personDetail__content{
    border: 1px solid silver;
    padding: 20px;
    margin-top: 20px;
    display: flex;
}

.personDetail__avatarWrap{
    width: 100%;
    border: 1px solid silver;
    margin-bottom: 10px;
}

.personDetail__btnUploadAvatar{
    margin-bottom: 10px;
}

.personDetail__avatarBlock{
    margin-right: 40px;
    width: 200px;
}

.personDetail__avatar{
    width: 100%;
    height: 100%;
}

.personDetail__mainOptions{
    margin-top: 40px;
}

.personDetail__tabsContent{
    margin-top: 20px;
}